	<div id="wrapper" ng-style='{"width":timelineWidth}'>
	    <div class="tabbable">
			<ul class="nav nav-tabs">
				<li ng-class="{'active' : pane.active}" ng-repeat="pane in panes" >
					<a ng-click="selectTab(pane)" data-toggle="tab">{{pane.title}}</a>
				</li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane" ng-class="{'active' : pane.active}" ng-repeat="pane in panes" active="pane.active; selectTab()" heading="{{pane.title}}">
					<div class="heading">
						<ul class="nav nav-pills" ng-show="pane.subtab">
							<li ng-class="{'active' : subpane.active}" ng-repeat="subpane in subpanes" >
								<a ng-click="selectSubTab(subpane)" data-toggle="tab">{{subpane.title}}</a>
							</li>
						</ul>
					</div>
					<div ng-repeat="item in [] | pagination:currentPage:itemPerPage:pagedItems" ui-draggable ng-model="item" ui-options="{ revert: false, helper : 'clone' }" class="items"><img ng-src="{{item.thumb}}" class="img-polaroid"/></div>
				</div>
				<div class="pagination pagination-small pagination-right" ng-show="visiblePagination">
					<ul>
						<li ng-class="{disabled: currentPage == 0}">
	                        <a href ng-click="prevPage()">«</a>
	                    </li>
	                    <li ng-repeat="n in allPages" ng-class="{active: $index == currentPage}" ng-click="setPage()">
	                        <a href ng-bind="$index + 1">1</a>
	                    </li>
	                    <li ng-class="{disabled: currentPage == allPages.length - 1}">
	                        <a href ng-click="nextPage()">»</a>
	                    </li>
					</ul>
				</div>
			</div>
		</div>
		<div id="projector" ng-click="togglePlayState()">
			<div id="screen" style="width:{{screen.width}}px;height:{{screen.height}}px"></div>
		</div>
		<div class="clear"></div>
		<div id="timelines" ui-event="{mousemove:'updateTooltip($event)'}">
			
			<div id="tooltip" class="tooltip fade top" ng-style="{'left':tooltip.left}">
				<div class="tooltip-arrow"></div>
				<div class="tooltip-inner">{{tooltip.title}}</div>
			</div>
			
			<div id="timeTracker" style="left:{{progress}}%" mm-dragwithinparent="changeProgress($event)"></div>

			<div id="ruler" ng-click="changeProgress($event)">
				<div ng-repeat="n in [] | range:101" class='unit' ng-class='{"visible-unit":n%10==0,"bigger-unit":n%5==0}' style='left:{{n}}%'>
					<span>{{n}}%</span>
				</div>
			</div>


<!-- 			<ul ng-repeat="name in ['video', 'audio', 'music'] | orderBy:'-name'" id="{{name}}-timeline" ui-sortable ng-model="track">
				<li ng-repeat="item in tracks.getElementsByType(name)" style="margin-left:{{item.cssMarginLeft}}%;width:{{item.cssWidth}}%;left:{{item.cssLeft}}%" ng-class="{'active' : !!item.active}">
					<img ng-src="{{item.thumb}}"  alt="{{item.name}}" class="thumbnail" />
				</li>
				<li class="clear"></li>
			</ul>  -->

 
			<ul ng-repeat="(name, track) in tracks.elements | orderBy:'name':true" id="{{name}}-timeline" ui-sortable ng-model="track" ui-droppable ui-options="{ drop: onDrop, revert : false,  placeholder: 'ui-state-highlight' }">
				<li ng-repeat="item in track" style="margin-left:{{item.cssMarginLeft}}%;width:{{item.cssWidth}}%;left:{{item.cssLeft}}%" ng-class="{'active' : !!item.active}">
					<div>
						<img ng-src="{{item.thumb}}"  alt="{{item.name}}" class="thumbnail" />
						<span class="remove-item" ng-click="removeItemFromTrack($event)"></span>
					</div>
				</li>
				<li class="clear"></li>
			</ul> 


			<!-- <ul id="audio-timeline">
				<li ng-repeat="item in timelines.audio" style="margin-left:{{item.cssMarginLeft}}%;width:{{item.cssWidth}}%" ng-class="{'active' : !!item.active}">
					<img ng-src="{{item.thumb}}"  alt="{{item.name}}" class="thumbnail" />
				</li>
			</ul>


			<ul id="music-timeline">
				<li ng-repeat="item in timelines.music" style="margin-left:{{item.cssMarginLeft}}%;width:{{item.cssWidth}}%" ng-class="{'active' : !!item.active}">
					<img ng-src="{{item.thumb}}"  alt="{{item.name}}" class="thumbnail" />
				</li>
			</ul> -->
		</div>
	</div>
</div>