	<div id="wrapper" ng-style='{"width":timelineWidth}'>
	    <div class="tabbable">
			<ul class="nav nav-tabs">
				<li ng-class="{'active' : pane.active}" ng-repeat="pane in panes" >
					<a ng-click="selectTab(pane)" data-toggle="tab">{{pane.title}}</a>
				</li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane" ng-class="{'active' : pane.active}" ng-repeat="pane in panes" active="pane.active; selectTab()" heading="{{pane.title}}">
					<div class="heading">
						<ul class="nav nav-pills" ng-show="pane.subtab">
							<li ng-class="{'active' : subpane.active}" ng-repeat="subpane in subpanes" >
								<a ng-click="selectSubTab(subpane)" data-toggle="tab">{{subpane.title}}</a>
							</li>
						</ul>
					</div>
					<div ng-repeat="item in [] | pagination:currentPage:itemPerPage:pagedItems" ui-draggable ng-model="item" ui-options="{ revert: false, helper : 'clone' }" class="items {{pane.title.toLowerCase()}}-item">
						<img ng-src="{{item.thumb}}" class="img-polaroid"/>
					</div>
				</div>
				<div class="pagination pagination-small pagination-right" ng-show="visiblePagination">
					<ul>
						<li ng-class="{disabled: currentPage == 0}">
	                        <a href ng-click="prevPage()">«</a>
	                    </li>
	                    <li ng-repeat="n in allPages" ng-class="{active: $index == currentPage}" ng-click="setPage()">
	                        <a href ng-bind="$index + 1">1</a>
	                    </li>
	                    <li ng-class="{disabled: currentPage == allPages.length - 1}">
	                        <a href ng-click="nextPage()">»</a>
	                    </li>
					</ul>
				</div>
			</div>
		</div>
		<div id="projector" ng-click="togglePlayState()">
			<div id="screen" style="width:{{screen.width}}px;height:{{screen.height}}px"></div>
		</div>
		<div class="clear"></div>

		<div id="timelines" ui-event="{mousemove:'updateTooltip($event)'}">
			
			<div id="tooltip" class="tooltip fade top" ng-style="{'left':tooltip.left}">
				<div class="tooltip-arrow"></div>
				<div class="tooltip-inner">{{tooltip.title}}</div>
			</div>
			
			<div id="timeTracker" style="left:{{progress}}%" mm-dragwithinparent="changeProgress($event)"></div>

			<div id="ruler" ng-click="changeProgress($event)">
				<div ng-repeat="n in [] | range:101" class='unit' ng-class='{"visible-unit":n%10==0,"bigger-unit":n%5==0}' style='left:{{n}}%'>
					<span>{{n}}%</span>
				</div>
			</div>

			<ul id="visual-timeline" data-track-type="visual" ui-sortable ng-model="tracks.elements.visual" ui-droppable ui-options="{ drop: onDrop, revert : false, accept : '.visual-item'}">
				<li ng-repeat="item in tracks.elements.visual" style="margin-left:{{item.cssMarginLeft}}%;width:{{item.cssWidth}}%;left:{{item.cssLeft}}%" ng-class="{'active' : !!item.active}" >
					<div>
						<img ng-src="{{item.thumb}}"  alt="{{item.name}}" class="thumbnail" />
						<span class="remove-item" ng-click="removeItemFromTrack($event)"></span>
					</div>
				</li>
				<li class="clear"></li>
			</ul>

			<ul id="audio-timeline" data-track-type="audio" ng-model="tracks.elements.audio" ui-droppable ui-options="{ drop: onDrop, revert : false, accept : '.sound-item'}">
				<li ng-repeat="item in tracks.elements.audio" style="margin-left:{{item.cssMarginLeft}}%;width:{{item.cssWidth}}%;left:{{item.cssLeft}}%" ng-class="{'active' : !!item.active}" mm-dragwithinparent="moveAudioItem($event)" >
					<div>
						<img ng-src="{{item.thumb}}"  alt="{{item.name}}" class="thumbnail" />
						<span class="remove-item" ng-click="removeItemFromTrack($event)"></span>
					</div>
				</li>
				<li class="clear"></li>
			</ul>

			<ul id="music-timeline" data-track-type="music"  ng-model="tracks.elements.music" ui-droppable ui-options="{ drop: onDrop, revert : false, accept : '.music-item'}">
				<li ng-repeat="item in tracks.elements.music" style="margin-left:{{item.cssMarginLeft}}%;width:{{item.cssWidth}}%;left:{{item.cssLeft}}%" ng-class="{'active' : !!item.active}" >
					<div>
						<img ng-src="{{item.thumb}}"  alt="{{item.name}}" class="thumbnail" />
						<span class="remove-item" ng-click="removeItemFromTrack($event)"></span>
					</div>
				</li>
				<li class="clear"></li>
			</ul>
		</div>

		<div class="download-btn-wapper">
			<div class="button">
				<div class="outer">
					<div class="height">
						<div class="inner" ng-click="downloadMovie()">
							download movie
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="loading" ng-show="loading">
			<div class="loading">
				<div class="cube cube1"></div>
				<div class="cube cube2"></div>
				<div class="cube cube3"></div>
				<div class="cube cube4"></div>
				<div class="cube cube5"></div>
				<div class="cube cube6"></div>
				<div class="cube cube7"></div>
				<div class="cube cube8"></div>
			<p>
				This might takea couple of minutes. 
				<br/>
				 Please wait or click <a href="#" ng-click="cancelDownload"> here </a>to cancel.
			</p> 
			</div>
		</div>
	</div>
</div>