<div class="hero-unit" ng-class="{'loading' : !loaded}" ng-cloak ui-event="{'keydown':keyDown($event)}">
	<h2><span class="line-through">Windows</span> HTML5 movie maker!</h2>
	<div id="wrapper" ng-style='{"width":timelineWidth}'>
		<div id="projector" ng-click="togglePlayState()">
			<div id="screen" style="width:{{screen.width}}px;height:{{screen.height}}px"></div>
		</div>
		<div id="timelines" ng-click="changeProgress($event)" ui-event="{mousemove:'updateTooltip($event)'}">
			
			<div id="tooltip" class="tooltip fade top" ng-style="{'left':tooltip.left}">
				<div class="tooltip-arrow"></div>
				<div class="tooltip-inner">{{tooltip.title}}</div>
			</div>
			
			<div id="timeTracker" style="left:{{progress}}%" mm-dragwithinparent="changeProgress($event)"></div>

			<div id="ruler">
				<div ng-repeat="n in [] | range:101" class='unit' ng-class='{"visible-unit":n%10==0,"bigger-unit":n%5==0}' style='left:{{n}}%'>
					<span>{{n}}%</span>
				</div>
			</div>

			<ul ng-repeat="(name, track) in timelines | orderBy:name" id="{{name}}-timeline" ui-sortable ng-model="track">
				<li ng-repeat="item in track" style="margin-left:{{item.cssMarginLeft}}%;width:{{item.cssWidth}}%" ng-class="{'active' : !!item.active}">
					<img ng-src="{{item.thumb}}"  alt="{{item.name}}" class="thumbnail" />
				</li>
				<li class="clear"></li>
			</ul>

			<!-- <ul id="audio-timeline">
				<li ng-repeat="item in timelines.audio" style="margin-left:{{item.cssMarginLeft}}%;width:{{item.cssWidth}}%" ng-class="{'active' : !!item.active}">
					<img ng-src="{{item.thumb}}"  alt="{{item.name}}" class="thumbnail" />
				</li>
			</ul>


			<ul id="music-timeline">
				<li ng-repeat="item in timelines.music" style="margin-left:{{item.cssMarginLeft}}%;width:{{item.cssWidth}}%" ng-class="{'active' : !!item.active}">
					<img ng-src="{{item.thumb}}"  alt="{{item.name}}" class="thumbnail" />
				</li>
			</ul> -->
		</div>
	</div>
</div>